html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


.chunk {
    padding-top: 15px;
}

.configuration {
    padding: 5px;
}

.loser {
    visibility: hidden;
}

.stupidButtonsGiveMeTopPadding {
    padding-top: 15px;
}

.tab-pane {
    padding: 10px;
}

li {
	overflow: hidden;
}


.player_profile_picture {
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}