body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    display: -webkit-flex;

    padding-top: 10px;
}

.main section.menu {
    order: 1;

    flex-shrink: 0;
    flex-grow: 0;

    -webkit-flex-shrink: 0;
    -webkit-flex-grow: 0;

    min-width: 140px;
    width: 140px;

    padding: 5px;
    text-align: center;
}

.main .gameBoard {
    display: flex;
    display: -webkit-flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    order: 2;

    flex-shrink: 1;
    flex-grow: 1;

    -webkit-flex-shrink: 1;
    -webkit-flex-grow: 1;
}

.main div.gamePiece {
    display: flex;
    display: -webkit-flex;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;

    overflow: hidden;
}

.main div.gamePiece span {
    text-align: center;
}

button {
    width: 125px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    line-height: 1.4em;

    margin-bottom: 10px;
}

.loser {
    visibility: hidden;
}

@media all and (max-width: 640px) {
    .main {
        -webkit-flex-flow: column;
        flex-direction: column;
    }

    .main section.menu, .main section.gameBoard {
        order: 0;
        width: 100%
    }

    .main section.gameBoard {
        transform: scale(0.75,0.75);
        display: flex;
        align-self: flex-start;
    }

}
