body.pei{
    background:#F7C636;
}

.pei .gameBoard div {
    font:24px sans;
    font-weight: bold;

    width: 150px;
    height: 100px;

    border:2px solid #4D2F1D;
    background:white;
    color:#B7271C;

    cursor: pointer;
}
