<div class="configuration">
    <div class="row">
        <span class="col-xs-12 form-group">
            <label for="theme-select">Theme</label>
            <select ng-options="item.path as item.name for item in themes" ng-model="selectedTheme"
                    id="theme-select"></select>
        </span>
    </div>

    <label class="col-xs-7">Alive Players</label>
    <label class="col-xs-5">Dead Players</label>

    <select ng-options="player.name for player in players | filter:{isAlive:true}"
            ng-model="selectedAlivePlayers" multiple size="8" class="col-xs-5"
            ng-dblclick="killPlayer()"></select>

    <div class="button-group-vertical col-xs-2 text-center">
        <button class="btn btn-warning btn-block" ng-click="killPlayer()">&gt;&gt;</button>
        <button class="btn btn-info btn-block" ng-click="resurrectPlayer()">&lt;&lt;</button>
    </div>

    <select ng-options="player.name for player in players | filter:{isAlive:false}"
            ng-model="selectedDeadPlayers" multiple size="8" class="col-xs-5"
            ng-dblclick="resurrectPlayer()"></select>

    <div class="row">

        <div class="form-inline col-xs-8 stupidButtonsGiveMeTopPadding">
            <div class="form-group">
                <label for="playerToAdd">Name</label>
                <input type="text" class="form-control" id="playerToAdd" placeholder="Jane Doe" ng-model="playerToAdd">
            </div>
            <button class="btn btn-default" ng-click="addPlayer()">Add Player</button>
        </div>

        <div class="btn-group col-xs-4 stupidButtonsGiveMeTopPadding">
            <button class="btn btn-primary pull-right" ng-click="save()">Save</button>
            <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>