<div class="configuration">
    <section class="menu">
        <button ng-click="save()" class="play">Save</button>
        <button ng-click="cancel()" class="reset">Cancel</button>
    </section>

    <section class="gameBoard">

        <div ng-controller="TabController as tabCtrl">
            <ul>
                <li ng-repeat="tab in tabCtrl.tabs">
                    <a href="#" ng-click="tabCtrl.navigate( tab.template )" onclick="return false;">{{ tab.name }}</a>
                </li>
            </ul>
            <div>
                <div ng-include="tabCtrl.tabContent"></div>
            </div>
        </div>
    </section>
</div>