<div class="configuration">
    <section class="menu">
        <button ng-click="save()" class="play">Save</button>
        <button ng-click="cancel()" class="reset">Cancel</button>
    </section>

    <section class="gameBoard">
        <tab-container>
            <tab name="General" template="views/partial/_generalConfig.html"></tab>
            <tab name="Edit Players" template="views/partial/_playerMaintenance.html"></tab>
            <tab name="Meetup Integration" template="views/partial/_meetupIntegration.html"></tab>
        </tab-container>
    </section>
</div>